[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain-community = "*"
pypdf = "*"
sentence-transformers = "*"
langchain-huggingface = "==0.3.0"
langchain-groq = "==0.3.2"

[dev-packages]

[requires]
python_version = "3.11"
